<!DOCTYPE html>
<html>
<head>
    <meta  http-equiv="Content-Type content="text/html; charset="utf-8"/>
    <title>Стоп-Кран</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <meta name="dedication" Content="Белгородская ska-punk группа. Аз усьм Царь всея Ска-Панка града Белого и его окраин!" />

    <link href="img/smoll-logo.ico" rel="shortcut icon" type="image/x-icon">

</head>
<body>
<div id="wrepper">
    <div id="content">
        <header>
            <div id="logo">
                <a href="http://stopkrancrew.ru/" title="На главную">
                    <img src="img/big-logo.jpg" title="stopkrancrew.ru" alt="stopkrancrew.ru">
                    <span>Стоп-кран</span>
                </a>
            </div>
            <div id="about">
                <a href="" title="Афиша">Афиша</a>
                <a href="" title="О группе">О группе</a>
                <a href="" title="Фото">Фото</a>
                <a href="" title="Видео">Видео</a>
                <a href="" title="Контакты">Контакты</a>

            </div>
            <div id="socnet">
                <a href="https://vk.com/stopkrancrew" title="VK">
                    <img src="img/vk48.png" title="vk.stopkrancrew">
                </a>
                <a href="https://www.instagram.com/stop_kran_crew/" title="Instagram">
                    <img src="img/instagram48.png" title="instagram.stopkrancrew">
                </a>
            </div>
        </header>
        <div id="picture2">
            <img src="img/25472_reverse.jpg" width="100%" height="200%"/>
        </div>
    </div>
    <footer>

    </footer>
</div>
</body>
</html>
